/*
 * @Author: baotong 
 * @Date: 2019-01-08 17:12:02 
 * @Last Modified by: baotong
 * @Last Modified time: 2019-03-06 21:50:31
 */
body{
    /* background:url(../../image/image.jpg); */
    color: aliceblue;
    background:#ccc;
    font-size:50px;
}